.colorFrameChild {
  height: 24px;
  width: 24px;
  position: relative;
  object-fit: cover;
  min-height: 24px;
}
.linkContainer {
  display: flex;
  align-items: center;
  gap: var(--gap-3xs);
}
.linkStyles {
  text-decoration: none;
  color: inherit;
}
.roulette {
  position: relative;
  line-height: 23px;
}
.colorFrame {
  align-self: stretch;
  background: linear-gradient(
    90deg,
    rgba(0, 255, 134, 0),
    rgba(0, 255, 134, 0)
  );
  border-left: 1px solid var(--color-springgreen-200);
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  padding: var(--padding-xs) var(--padding-21xl);
  gap: var(--gap-3xs);
}
.frameChild {
  height: 24px;
  width: 24px;
  position: relative;
  min-height: 24px;
}
.coinflip {
  position: relative;
  line-height: 23px;
  background: linear-gradient(180deg, #12cb70, #09ac85);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.frameDiv {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  padding: var(--padding-xs) var(--padding-21xl);
  gap: var(--gap-3xs);
  z-index: 1;
}
.frameChild1,
.frameChild2,
.frameInner,
.frameItem,
.rectangleDiv {
  position: absolute;
  top: 20.9px;
  left: 2.8px;
  border-radius: 0.22px;
  background-color: var(--color-white);
  width: 18.5px;
  height: 0.9px;
}
.frameChild1,
.frameChild2,
.frameInner,
.rectangleDiv {
  top: 16.1px;
  left: 3.7px;
  border-radius: 0.22px 0.22px 0 0;
  width: 3.1px;
  height: 4.8px;
}
.frameChild1,
.frameChild2,
.rectangleDiv {
  top: 14.4px;
  left: 8.3px;
  height: 6.5px;
}
.frameChild1,
.frameChild2 {
  top: 12.9px;
  left: 12.9px;
  height: 8.1px;
}
.frameChild2 {
  top: 8.9px;
  left: 17.7px;
  height: 12px;
}
.vectorIcon {
  position: absolute;
  top: 3.3px;
  left: 2.8px;
  width: 18.1px;
  height: 10.5px;
  z-index: 1;
}
.rectangleParent {
  height: 24px;
  width: 24px;
  position: relative;
}
.crash {
  flex: 1;
  position: relative;
  line-height: 23px;
}
.frameParent1 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.frameContainer,
.frameWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameWrapper {
  width: 172px;
  flex-direction: row;
  padding: 0 var(--padding-21xl);
  box-sizing: border-box;
}
.frameContainer {
  align-self: stretch;
  flex-direction: column;
  gap: var(--gap-xl);
}
.frameIcon {
  height: 24px;
  width: 24px;
  position: relative;
  min-height: 24px;
}
.plinko {
  flex: 1;
  position: relative;
  line-height: 23px;
}
.frameParent2,
.frameWrapper1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameParent2 {
  flex: 1;
  gap: var(--gap-3xs);
}
.frameWrapper1 {
  width: 170px;
  padding: 0 var(--padding-21xl);
  box-sizing: border-box;
}
.frameIcon1 {
  height: 24px;
  width: 24px;
  position: relative;
  min-height: 24px;
}
.dice {
  flex: 1;
  position: relative;
  line-height: 23px;
}
.frameParent3 {
  flex: 1;
  flex-direction: row;
  gap: var(--gap-5xs);
}
.frameGroup,
.frameParent3,
.frameWrapper2 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameWrapper2 {
  width: 163px;
  flex-direction: row;
  padding: 0 var(--padding-21xl);
  box-sizing: border-box;
}
.frameGroup {
  align-self: stretch;
  flex-direction: column;
  gap: var(--gap-16xl);
}
.frameChild3 {
  height: 1px;
  flex: 1;
  position: relative;
  background-color: var(--color1);
}
.rectangleWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-10xs);
  border-top: 1px solid var(--color1)
}
.svgmarginIcon {
  height: 22px;
  width: 26px;
  position: relative;
}
.leaderboard {
  flex: 1;
  position: relative;
  line-height: 23px;
  font-weight: 500;
}
.frameArsenalAlicia {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.svgmarginIcon1 {
  height: 21px;
  width: 24px;
  position: relative;
}
.statistics {
  flex: 1;
  position: relative;
  line-height: 23px;
  font-weight: 500;
}
.frameArsenalAlicia1 {
  width: 114px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.svgmarginIcon2 {
  height: 24px;
  width: 24px;
  position: relative;
  min-height: 24px;
}
.settings {
  flex: 1;
  position: relative;
  line-height: 23px;
  font-weight: 500;
  flex-shrink: 0;
}
.frameArsenalAlicia2,
.frameCoinflip,
.frameParent4 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameArsenalAlicia2 {
  width: 103px;
  flex-direction: row;
  gap: var(--gap-8xs);
}
.frameCoinflip,
.frameParent4 {
  flex-direction: column;
}
.frameCoinflip {
  width: 144px;
  gap: var(--gap-16xl);
}
.frameParent4 {
  flex: 1;
  gap: var(--gap-26xl);
}
.frameParent,
.frameWrapper3 {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
}
.frameWrapper3 {
  flex-direction: row;
  align-items: flex-start;
  padding: 0 var(--padding-5xl) 0 var(--padding-18xl);
}
.frameParent {
  flex: 1;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-16xl);
}
.linkIcon,
.linkIcon1,
.linkIcon2 {
  height: 26.3px;
  width: 29.7px;
  position: relative;
  min-height: 26px;
}
.linkIcon2 {
  width: 24.9px;
}
.colorFrameParent,
.frameSvgOverlay {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  /* padding: 0 var(--padding-11xs) 0 0; */
  gap: var(--gap-mini);
  padding: 30px 0;
}
.colorFrameParent {
  /* height: 1128px;
                                                              width: 245px; */
  background-color: var(--color-gray-400);
  border-right: 1px solid var(--color-gray-300);
  box-sizing: border-box;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: column;
  align-items: center;
  padding: var(--padding-9xl) 0 var(--padding-13xl);
  gap: var(--gap-12xs);
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-white);
  font-family: var(--font-poppins);
}
@media screen and (max-width: 1125px) {
  .colorFrameParent {
    padding-top: var(--padding-xl);
    padding-bottom: var(--padding-2xl);
    box-sizing: border-box;
    height: 100vh;
  }
   .frameSvgOverlay{
    padding: 70px 0 ;
  }
}
@media screen and (max-width: 1025px) {
  /* .colorFrameParent {
    display: none;
  } */
   .frameSvgOverlay{
    padding: 70px 0 ;
  }
}
@media screen and (max-width: 750px) {
  .colorFrameParent {
    padding-bottom: var(--padding-xl);
    box-sizing: border-box;
    height: 100vh;
  }
  .frameSvgOverlay{
    padding: 70px 0 ;
  }
}

.activeTab {
  background: linear-gradient(90deg,
      rgba(0, 255, 134, 0.08),
      rgba(0, 255, 134, 0));
  border-left: 1px solid var(--left-menu-line-stroke);
  padding: var(--padding-xs) var(--padding-21xl);
  gap: var(--gap-3xs);
  color: #09ac85;
}
