.colorFrameChild {
  height: 24px;
  width: 24px;
  position: relative;
  object-fit: cover;
  min-height: 24px;
}
.linkContainer {
  display: flex;
  align-items: center;
  gap: var(--gap-3xs);
}
.linkStyles {
  text-decoration: none;
  color: inherit;
}
.roulette {
  position: relative;
  line-height: 23px;
}
.frameChild {
  /* height: 24px; */
  /* width: 24px; */
  /* position: relative; */
  /* min-height: 24px; */
}
.coinflip {
  position: relative;
  line-height: 23px;
  /* background: linear-gradient(180deg, #12cb70, #09ac85);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
}
.frameDiv {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  padding: var(--padding-xs) var(--padding-21xl);
  gap: var(--gap-3xs);
  z-index: 1;
  /* padding: var(--padding-xs) var(--padding-21xl); */
  /* gap: var(--gap-3xs); */
}

.frameInner,
.frameItem {
  position: absolute;
  top: 20.9px;
  left: 2.8px;
  border-radius: 0.22px;
  background-color: var(--color-white);
  width: 18.5px;
  height: 0.9px;
}

.frameInner {
  top: 16.1px;
  left: 3.7px;
  border-radius: 0.22px 0.22px 0 0;
  width: 3.1px;
  height: 4.8px;
}
.crash {
  flex: 1;
  position: relative;
  line-height: 23px;
}
.frameContainer {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameContainer {
  align-self: stretch;
  flex-direction: column;
  gap: var(--gap-xl);
}
.frameIcon {
  height: 24px;
  width: 24px;
  position: relative;
  min-height: 24px;
}
.plinko {
  flex: 1;
  position: relative;
  line-height: 23px;
}
.frameIcon1 {
  height: 24px;
  width: 24px;
  position: relative;
  min-height: 24px;
}
.dice {
  flex: 1;
  position: relative;
  line-height: 23px;
}
.frameGroup {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameGroup {
  align-self: stretch;
  flex-direction: column;
  gap: var(--gap-16xl);
}
.rectangleWrapper {
  /* align-self: stretch; */
  /* display: flex; */
  /* flex-direction: row; */
  /* align-items: flex-start; */
  /* justify-content: flex-start; */
  /* padding: 0 0 0 var(--padding-10xs); */
  border-top: 1px solid var(--color1)
}
.svgmarginIcon {
  height: 22px;
  width: 26px;
  position: relative;
}
.leaderboard {
  flex: 1;
  position: relative;
  line-height: 23px;
  font-weight: 500;
}
.frameArsenalAlicia {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.statistics {
  flex: 1;
  position: relative;
  line-height: 23px;
  font-weight: 500;
}
.settings {
  flex: 1;
  position: relative;
  line-height: 23px;
  font-weight: 500;
  flex-shrink: 0;
}

.frameCoinflip {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameCoinflip {
  flex-direction: column;
}
.frameCoinflip {
  width: 144px;
  gap: var(--gap-16xl);
}
.frameParent {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
}
.frameParent {
  flex: 1;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-16xl);
  
  
}
.linkIcon,
.linkIcon1,
.linkIcon2 {
  height: 26.3px;
  width: 29.7px;
  position: relative;
  min-height: 26px;
}
.linkIcon2 {
  width: 24.9px;
}
.colorFrameParent,
.frameSvgOverlay {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  /* padding: 0 var(--padding-11xs) 0 0; */
  gap: var(--gap-mini);
  padding: 25px 0;
}
.colorFrameParent {
  /* height: 1128px;
                                                              width: 245px; */
  background-color: var(--color-gray-400);
  border-right: 1px solid var(--color-gray-300);
  box-sizing: border-box;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: column;
  align-items: center;
  padding: var(--padding-9xl) 0 var(--padding-13xl);
  gap: var(--gap-12xs);
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-white);
  font-family: var(--font-poppins);
}
@media screen and (max-width: 1125px) {
  .colorFrameParent {
    padding-top: var(--padding-xl);
    padding-bottom: var(--padding-2xl);
    box-sizing: border-box;
    height: 100vh;
  }
   .frameSvgOverlay{
    padding: 70px 0 ;
  }
  .colorFrameParent{
      height: 100vh;
    }
}
@media screen and (max-width: 1025px) {
  /* .colorFrameParent {
    display: none;
  } */
   .frameSvgOverlay{
    padding: 70px 0 ;
  }
  .colorFrameParent{
      height: 100vh;
    }
}
@media screen and (max-width: 750px) {
  .colorFrameParent {
    padding-bottom: var(--padding-xl);
    box-sizing: border-box;
    height: 100vh;
  }
  .frameSvgOverlay{
    padding: 70px 0 ;
  }
  .colorFrameParent{
      height: 100vh;
    }
}

.activeTab {
  background: linear-gradient(90deg,
      rgba(0, 255, 134, 0.08),
      rgba(0, 255, 134, 0));
  color: #09ac85;
  border-left: 1px solid var(--left-menu-line-stroke);

}

@media screen and (min-width: 1920px) and (min-height: 1080px) {
  /* Your styles for 1920x1080 screens go here */
  .colorFrameParent{
     display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 94vh; /* Set the height to 100% of the viewport height */
    gap: var(--gap-16xl); /* Adjust as needed */
    }  
}

